@import '../../App.scss';
.ProfilePage{
@include themify($theme){
    background-color: themed('bgsoft');
    min-height: 100vh;
    position: relative;


    .images{
        width: 100%;
        height:300px;
        position: relative;
        .cover{
            width: 100%;
            height:100%;
            object-fit: cover;

            @include mobile{
              width: 100%;
           }
        }
        .profilepic{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top:185px;

        @include mobile{
          
       }
        }
    }
    .profilecontainer{
       padding: 20px 70px;

      
       @include mobile{
        width: 89%;
     }

    @include Tablet{
      padding: 20px;
   }

    .userinfo{
      
      width: 100%;
      height: 180px;
      box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.38);
      border-radius: 20px;
      background-color: themed('bg');
      border:1px solid themed('border');
      color:themed('textcolor');
      padding:20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

        @include mobile{
          flex-direction: column;
          height: 30vh;
          padding:10px ; 
          margin-top:100px ;
          margin-left: 20px;  
  }
          .UserInfoContainer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        .left{
           flex:1;
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 2px;
           border-right: 2px solid themed('border');
           height: 100%;
           
           @include Tablet{
            flex-wrap: wrap;
         }
          .Followers{
            margin-bottom: 5px;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: max-content;
            gap:10px;
            padding: 5px;
            cursor: pointer;
          
            .FollowersHead>h3{
              cursor: pointer;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .FollowersCount>span{
              font-size: 25px;
              cursor: pointer;
            }
          }
          .Followers:hover{
            background-color: themed('bgsoft');
          }
        }
        .center{
          flex:1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          border-right:2px solid themed('border');
          span{
              font-size: 25px;
              font-weight: 300;
            //  margin-right: 30px;
          }
          .Following{
            cursor: pointer;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 5px;
          .FollowingHead>h3{
            cursor: pointer;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
          }
          
          .FollowingCount>p{
            cursor: pointer;
          font-size: 25px;
          }
        }
        .Following:hover{
          background-color: themed('bgsoft');
        }

          .info{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
         
            .item{
                display: flex;
                align-items: center;
                gap: 5px;
                color:themed('textcolorsoft');

               /* .Place{
                 margin-left: 55px;
                }*/
                
        
            span{
                font-size: 12px;
            }
        }
          }
          button{
            border: none;
            background-color: #5271ff;
            color:white;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
           // margin-right: 30px;
          }

        }
        .right{
         flex: 1;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content:center;
         gap: 10px;

        }
        .right>span{
          font-size: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .rightMessage{
          flex: 1;
         display: flex;
         width: max-content;
         cursor: pointer;
         align-items: center;
         justify-content:center;
         gap: 10px;
         padding: 5px;
         height: 70px;
         margin-bottom: 5px;

        }
        .rightMessage:hover{
          background-color: themed('bgsoft');
        }
        .rightMessage>span{
          font-size: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .SendMessageIcon{
          transform: rotate(350deg) ;
          cursor: pointer;
        }
      }
    }
 }
 .userposts{
    padding: 5px 70px;

    @include mobile{
      padding: 5px 30px;
   }
 }
 
}
}