.FollowInfoCard{
    background-color:#333;
    border-radius: 10px;
    width: 400px;
    z-index: 1000;
    position: absolute;
    top: 30%;
    left: 28%;
    height: 330px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}
.FollowInfoCardContainer{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: max-content;
}

.FollowInfoCardContainer::-webkit-scrollbar {
  width: 12px;
}
 
.FollowInfoCardContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.FollowInfoCardContainer::-webkit-scrollbar-thumb {
  background-color: #444;
  outline: 1px solid #444;
  border-radius: 10px;
}
  
    .FollowInfoCardHead{
      position: relative;
      border-bottom:3px solid #444;
      padding: 14px;
      display: flex;
      justify-content: center;
    }
 
     .FollowInfoCardHead>h3{
        font-size: 20px;
        color: white;
        letter-spacing: 0.5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .FollowinfoCancelIcon{
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
       
      }
      .FollowinfoCancelIcon:hover{
        color: white;
        transition: all 300ms ease;
      }
    
    .FollowInfoCardData{
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: max-content;
      cursor: pointer;
      
    }
    .FollowInfoCardData:hover{
      background-color: #444;
    }
     
   .FollowersProfilepic>img,.Followerprofilepic>img{
        width: 40px;
        height:40px;
        object-fit: cover;
        border-radius: 50%;
      }
      .FollowerName>span{
        color:white;
        font-size: 20px;
      }


    
   