@import '../../App.scss';

   .main{
   @include themify($theme){
      background-color: themed('bg');
      .leftbar{

      @include mobile{
         display: none;
      }
      
      flex: 2;
      position: sticky;
      top:50px;
      overflow: scroll;
      &::-webkit-scrollbar{
         display: none;
         
      }
      height: calc(100vh - 70px);
      background-color: themed("bg");
      color: themed("textcolor");

     


      .container{
      
      

       hr{
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color:themed("border");
       }
        .menu{
       width: 100%;
          display: flex;
         flex-direction:column ;
         gap: 20px;
         padding: 14px 20px;

        span{
            font-size: 12px;
         }

            .user{
               display: flex;
               align-items: center;
               gap:10px;
               
               margin-right: 20px;
               
               
                img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                }
                span{
               font-size: 20px;
                    
                }
            }
            .item{
             display: flex;
             align-items: center;
             gap:10px;
             margin-top: 8px;

             .HomeIcon{
               color: themed('textcolor');
               height: 35px;
               width: 35px;
             }
             .FavoriteBorderOutlinedIcon{
               color: themed('textcolor');
               height: 30px;
               width: 30px;
             }
                .HOMELINK{
               font-size: 20px;
               margin-top: 5px;
               text-decoration: none;
               color: themed('textcolor');
                }
                
                  .NOTIFICATIONLINK{
                     font-size: 20px;
                     text-decoration: none;
                  
                     color: themed('textcolor');
                  }
                
            }
        }
        .menu:hover{
         cursor: pointer;
        }
    }
  }
 }
}